{% extends 'layouts/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block self_css %}<link rel="stylesheet" href="{% static 'accounts/registerStudent.css' %}">{% endblock %}

{% block content %}

    
    <div class="container mt-5 justify-content-center align-content-center">
        <div class="row justify-content-center align-content-center">
            
            <div class="col-md-6">
                <div class="card shadow py-2 bg-white" id="inscriptionCard">
                    
                    <div class="card-body pt-3 pb-3">                                    
                            <h3 class="registerTitle mb-4">Inscription des Etudiants</h3>
                            <form method="post" id="studentForm" action="{% url 'registerStudent' %}">
                                {% csrf_token %}
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">{{ form.lastName|as_crispy_field}}</div>
                                    <div class="col-sm-6">{{ form.firstName|as_crispy_field}}</div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">{{ form.username|as_crispy_field}}</div>
                                    <div class="col-sm-6">{{ form.email|as_crispy_field}}</div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">{{ form.password|as_crispy_field}}</div>
                                    <div class="col-sm-6">{{ form.checkPassword|as_crispy_field}}</div>
                                </div>
                                
                                {% if errorMessage != "" %}
                                    <p class="errorMessage"> {{errorMessage}}</p>
                                {% endif%}
                                <div class="text-center">
                                    <input type="submit" value="S'inscrire" id="submitEntity">
                                </div>
                            </form>  
                            
                            <div class="text-center mt-3"> <span class="small">Vous avez déjà un compte ? </span> <a class="small" href="{% url 'loginUser' %}">Connectez vous</a></div>
                                           
                    </div>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}


        